body {
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    text-decoration: underline;
  
}

h6{
    text-align: center;
   
}

.title{
text-align: center;

}

p .talent{
    text-align: justify; 
}

.links{
    text-align: center;
}
.competencies{
    text-align: center;
}

.skills{
    text-align: left;
    margin: auto;
    width: 700px;
}

.certifications{
    text-align: center;
}

.certs td{
    text-align: left;
    margin-left: 30px;
    padding-left: 30px;
    vertical-align: top;
    
}

.subedu {
    text-align: center;
    padding-bottom: 0px;
}

table .edu{
    display: flex;
    margin: auto;
    padding-top: 0px;
    font-size: 10px;
    width: 100%;
    vertical-align: top;
   
}

.experience{
    text-align: left;
    
}

.projects{
    text-align: left;
    margin: auto;
    width: 900px;
}

.pro{
    text-align: center;
}

.place{
    width: 800em;
    text-align: left;
}

td.date{
width: 100em; 
text-align: right;

}
